<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= title %></title>
</head>
<body>
    <nav>
        <a href="/designs" class="navhome">My Car Parts</a>
        <a href="/designs">Search</a>
        <a href="/designs">All Designs</a>
        <% if (user) { %>
          <div class="dropdown">
            <a class="dropa">Account</a>
            <div class="dropdown-content">
              <a href="/users/<%= user._id %>">My Profile</a>
              <a href="/users/<%= user._id %>/edit">Edit Profile</a>
              <a href="/logout">LOG OUT</a>
            </div>
          </div>
        <% } else { %>
          <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
    </nav>
    <main>