* {
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica,Ariel,sans-serif;
  color: white;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "nav"
    "main"
    "footer"
}

body > nav {
  grid-area: nav;
  background-color: #e65355; 
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

.navhome {
  margin-right: auto;
}

body > main {
  grid-area: main;
  display: grid;
  background-color: lightgray;
  padding: 20px;
  overflow-y: scroll;
  grid-template: repeat(10, auto) / repeat(10, auto);
}

nav > a {
  margin: 15px;
  background-color: darkgrey;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
}

a {
  color: white;
}
.login img {
  height: 25px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
  color: lightgray;
}